.bg-color {
    background-position: center !important;
    background-color:#212b32 !important;

}


.container-color{
    background-color: #fff !important;
    border-radius: 10px !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}


.label-letras{
    font-family: Helvetica, sans-serif !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #212b32 !important;
}

h3{
    font-family: Helvetica, sans-serif !important;
    font-size: 20px !important;
    line-height: 22px !important;
    color: #212b32 !important;

}

/* Responsive table */

@media(max-width:500px){
    .tabela thead{
        display: none;
    }

    .tabela, .tabela tbody, .tabela tr, .tabela td{
        display: block;
        width: 100%;
    }
    .tabela tr{
        margin-bottom: 15px;
    }

    .tabela td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .tabela td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        font-family: Helvetica, sans-serif;
        /* 
        font-size: 14px;
        color: #212b32; */

    }

}